<div class="row">
  <div class="col-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">{{serie?.name}}</h3>
        <div class="mb-1 text-muted">{{serie?.firstReleaseDate|date:'mediumDate'}}</div>
        <p class="card-text mb-auto">Nombre de saisons: {{serie?.seasonsNumber}}</p>
        <p class="card-text mb-auto">{{serie?.description}}</p>
      </div>
      <div class="col-auto d-none d-lg-block">

        <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img" focusable="false" height="250"
             preserveAspectRatio="xMidYMid slice"
             role="img" width="200" xmlns="http://www.w3.org/2000/svg"><title>
          Placeholder</title>
          <rect fill="#55595c" height="100%" width="100%"></rect>
          <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>
        </svg>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-comment-list [serieId]="serieId"></app-comment-list>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-comment-create [serieId]="serieId"></app-comment-create>
  </div>
</div>
